@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/subset-EuropeExt.woff2") format("woff2"), url("../fonts/subset-EuropeExt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/subset-EuropeExtBold.woff2") format("woff2"), url("../fonts/subset-EuropeExtBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container,
.application__box,
.specifications__head,
.contacts {
  max-width: 1255px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__box,
.slide__logo,
.carousel,
.foam__box,
.tasks__head,
.certificate {
  max-width: 1010px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__item.is-active {
  position: relative;
}

.header__item.is-active::before {
  content: '';
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f2f5f7;
}

.header__item.is-active::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f2f5f7;
}

.basetitle-top {
  margin-top: 0;
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #01983b;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.basetitle-top::before {
  content: '';
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  left: -35px;
  top: 5px;
  background-image: url(./bg/fav.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.base-title {
  color: #2c2783;
}

iframe {
  display: block;
  margin: 0 auto;
}

.header {
  background-image: url(./bg/pattern.png);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  background-color: #01983b;
}

.header__nav {
  line-height: 76px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__item {
  display: inline-block;
  vertical-align: middle;
}

.header__link {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}

.header__link::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f2f5f7;
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
}

.header__link:hover::after {
  width: 100%;
}

.slide {
  background-image: url(./bg/bg_box_slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 25px;
  padding-bottom: 88px;
  position: relative;
}

.slide__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 20px;
}

.slide__left {
  width: 50%;
  height: auto;
}

.slide__link {
  display: inline-block;
  vertical-align: top;
  width: 80%;
  height: auto;
}

.slide__img {
  width: 100%;
  height: auto;
  padding-top: 15px;
}

.slide__right {
  width: 50%;
  height: auto;
  text-align: right;
}

.slide__social-network {
  margin-top: 10px;
}

.slide__title {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #01983b;
  margin: 0;
}

.slide .linkedin, .slide .vk {
  color: #fff;
  padding: 6px;
  border-radius: 50%;
  background-color: #01983b;
  display: inline-block;
  vertical-align: middle;
  line-height: 12px;
  margin-left: 3px;
}

.slide .linkedin:hover, .slide .vk:hover {
  color: #fff;
  background-color: #2c2783;
}

.slide__connection {
  text-align: left;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slide__connection-item {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #2c2783;
  position: relative;
}

.slide__connection-item:active {
  color: black;
}

.slide__connection-item:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #2c2783;
  display: block;
  bottom: -3px;
  left: 0;
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
}

.slide__connection-item:hover:after {
  width: 100%;
}

.slide__shadow {
  position: absolute;
  max-width: 1225px;
  width: 100%;
  height: auto;
  left: 15%;
  bottom: -15px;
}

.slide__shadow-img {
  width: 100%;
  height: auto;
}

.search__item {
  border: none;
  border-bottom: 1px solid #bfbdd9;
  background-color: transparent;
  width: 78%;
  outline: none;
  padding: 5px 0;
  padding-left: 10px;
}

.search__item:focus {
  border-bottom: 1px solid #01983b;
}

.search__icon {
  color: #2c2783;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 0 0 0;
}

.search__icon:hover {
  color: #01983b;
}

.fa-search-plus {
  font-size: 20px;
}

.carousel {
  position: relative;
}

.carousel__img {
  position: relative;
  width: 100%;
  height: 493px;
}

.carousel__img::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  max-height: 88px;
  height: 100%;
  background-image: url(./bg/bg_slider.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  bottom: -88px;
}

.carousel__pagination {
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.carousel__nav {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
}

.carousel__left {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 50px;
  cursor: pointer;
  color: #01983b;
}

.carousel__left:hover {
  color: #fff;
}

.carousel__right {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 50px;
  cursor: pointer;
  color: #01983b;
}

.carousel__right:hover {
  color: #fff;
}

.carousel__desk {
  position: absolute;
  bottom: 35px;
  left: 0;
  padding: 35px 25px 10px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.36);
}

.carousel__topDescription {
  font-family: 'EuropeExt', sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.carousel__bottomDescription {
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
}

.pagination__item {
  width: 32px;
  height: 12px;
  background-color: #fff;
  display: block;
  margin-left: 5px;
}

.carousel__item {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.carousel__is-active {
  background-color: #01983b;
}

.foam {
  padding-top: 60px;
  margin-bottom: 30px;
  background-image: url(./bg/bg_pena.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.foam__title-top {
  margin-top: 0;
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 41px;
  color: #01983b;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.foam__title-top::before {
  content: '';
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  left: -35px;
  top: 5px;
  background-image: url(./bg/fav.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foam__box {
  text-align: center;
}

.foam__bottom {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'EuropeExt' , sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #073d79;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.foam__video {
  position: relative;
  margin-bottom: 50px;
}

.foam__video::after {
  content: '';
  max-width: 850px;
  width: 100%;
  height: 79px;
  display: block;
  position: absolute;
  bottom: -75px;
  left: 55px;
  background-image: url(./bg/bg_videoShadow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.foam__video-iframe {
  border: 0;
  max-width: 575px;
  max-height: 318px;
  width: 100%;
}

.foam__desc {
  margin-bottom: 45px;
}

.foam__desc p {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #0a274d;
}

.foam__desc p b {
  text-transform: uppercase;
}

.foam__linck-button {
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
  background-image: url(./bg/pattern.png);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  background-color: #01983b;
  padding: 13px 43px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
}

.foam__linck-button:hover {
  background-color: #01af3b;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.3);
}

.foam__linck-button:active {
  background-color: #01843b;
  -webkit-box-shadow: 0 4px 6px 0 black;
  box-shadow: 0 4px 6px 0 black;
}

.application {
  background-image: url(./bg/application-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  padding: 40px 0 60px 0;
  width: 100%;
  height: auto;
}

.application__head {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.application__title {
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #073d79;
  text-transform: uppercase;
  margin: 0;
}

.application__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
}

.application__left {
  width: calc(50% - 5px);
  height: auto;
  margin-right: 5px;
  background-image: url(./bg/application-left.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.application__left-bg {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: relative;
}

.application__left-title {
  width: 100%;
  height: auto;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.application__sub-title {
  margin: 0;
  padding: 20px 0 20px 50px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  text-align: right;
}

.application__left-list {
  margin-bottom: 180px;
  width: 100%;
  height: auto;
}

.application__left-items {
  text-align: right;
  width: 100%;
  height: auto;
}

.application__left-items,
.application .application__right-items {
  margin: -10px 0 0 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.application__left-item {
  padding-bottom: 3px;
}

.application__left-item:last-child {
  margin-bottom: 0;
}

.application__text {
  margin: 0;
  padding: 3px 50px 3px 50px;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #01983b;
  position: relative;
}

.application__text::before, .application__text::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 100%;
  background-color: rgba(1, 152, 59, 0.2);
  left: -35px;
  top: 0;
}

.application__text::before {
  background-color: rgba(1, 152, 59, 0.4);
  left: -70px;
  width: 75px;
}

.application__left-logo-bg {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: right;
  width: 100%;
  height: auto;
}

.application__left-logo {
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 5px 50px 5px 0;
  margin: 0;
}

.application__left-logo::before {
  content: '';
  position: absolute;
  top: 8px;
  margin-left: -25px;
  background-image: url(./bg/bg-app.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 19px;
  height: 16px;
}

.application__right {
  width: calc(50% - 5px);
  height: auto;
  margin-left: 5px;
  background-image: url(./bg/application-right.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.application__right-title {
  width: 100%;
  height: auto;
}

.application__right-bg-opasity {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: relative;
}

.application__right-sub-title {
  margin: 0;
  padding: 20px 0 20px 50px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
}

.application__right-list {
  margin-bottom: 170px;
  width: 100%;
  height: auto;
}

.application__right-item {
  position: relative;
}

.application__text-right {
  margin: 0;
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #01983b;
  margin-bottom: 5px;
  padding: 3px 50px 3px 50px;
  position: relative;
}

.application__text-right::before, .application__text-right::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 100%;
  background-color: rgba(1, 152, 59, 0.4);
  right: -35px;
  top: 0;
}

.application__text-right::before {
  background-color: rgba(1, 152, 59, 0.2);
  right: -70px;
  width: 75px;
}

.application__right-logo-bg {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: block;
}

.application__right-logo {
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding: 5px 0 5px 79px;
  margin: 0;
}

.application__right-logo::before {
  content: '';
  position: absolute;
  top: 8px;
  margin-left: -25px;
  background-image: url(./bg/bg-app.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 19px;
  height: 16px;
}

.application__list {
  width: 100%;
  height: auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.application__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.application__categories-item {
  text-align: center;
  width: calc(100% / 6);
}

.application__categories-item:nth-child(even) {
  margin-top: 50px;
}

.application__rotate-border {
  width: 100%;
  height: 190px;
  margin: 0 auto;
  position: relative;
  background-image: url("./bg/bg-romb.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.application__categories-bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.application__categories-img {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

.application__categories-desc {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #01983b;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
}

.specifications {
  background-image: url("./bg/spec-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom;
  padding-bottom: 15px;
}

.specifications__fix {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border: 3px solid #d5dfec;
  padding: 45px 10px;
  position: relative;
}

.specifications__fix::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: -10px;
  background-image: url(./bg/spec-bgTable.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.specifications__head-title {
  margin-top: 0;
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #01983b;
  margin-bottom: 5px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.specifications__head-title::before {
  content: '';
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  left: -35px;
  top: 5px;
  background-image: url(./bg/fav.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.specifications__head-sub-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'EuropeExt' , sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #01983b;
  text-transform: uppercase;
}

.specifications__table {
  max-width: 980px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}

.specifications__table-box {
  border: 3px solid #d5dfec;
  border-collapse: collapse;
  width: 100%;
  height: auto;
  position: relative;
}

.specifications__row {
  padding: 0;
}

.specifications__row:nth-child(even) {
  background-color: #f2f5f7;
}

.specifications__row:first-child .specifications__column {
  background-color: green;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

.specifications__column {
  border: 1px solid #d5dfec;
  font-family: 'Arial' , sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #043567;
  line-height: 36px;
}

.specifications__column:first-child {
  text-align-last: left;
  padding: 0px 0 0px 10px;
  width: 37%;
  height: auto;
}

.tasks {
  background-image: url(./bg/tasks-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0 50px 0;
}

.tasks__head {
  text-align: center;
}

.tasks__head-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'EuropeExt' , sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #01983b;
  text-transform: uppercase;
}

.tasks__box {
  max-width: 980px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.tasks__box-items-right {
  background-color: #01983b;
  width: calc(60% - 5px);
  margin: 5px 0 0 5px;
}

.tasks__box-items-right::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 152, 59, 0.5);
  right: -13%;
  top: 0;
  z-index: -1;
}

.tasks__box-items-right::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 152, 59, 0.25);
  right: -26%;
  top: 0;
  z-index: -2;
}

.tasks__box-items-left {
  background-color: #ff0000;
  width: calc(40% - 5px);
  margin: 5px 5px 0 0;
}

.tasks__box-items-left::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  left: -13%;
  top: 0;
  z-index: -1;
}

.tasks__box-items-left::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.25);
  left: -26%;
  top: 0;
  z-index: -2;
}

.tasks__box-items {
  position: relative;
}

.tasks__box-item {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.tasks__face-img {
  font-size: 30px;
  margin: 10px 15px 0px 15px;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  float: left;
  color: #fff;
}

.certificate {
  margin-bottom: 38px;
}

.certificate__head {
  text-align: center;
}

.certificate__title-bottom {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'EuropeExt' , sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #2c2783;
  text-transform: uppercase;
}

.certificate__box {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.certificate__items {
  width: 15%;
  height: auto;
  margin: 0 auto;
}

.certificate__item {
  width: 100%;
  height: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.certificate__desc {
  width: 100%;
  text-align: center;
}

.certificate__desc-inner {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #2c2783;
  text-transform: uppercase;
  margin-bottom: 0;
}

.certificate__desc-img {
  width: 12%;
  height: auto;
}

.fresco {
  display: inline-block;
  width: 100%;
  height: auto;
}

.contacts {
  text-align: center;
  background-image: url(./bg/pattern.png);
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  background-color: #01983b;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 30px 0 20px 0;
}

.contacts::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0px 4px 0px rgba(255, 255, 255, 0.2) inset;
}

.contacts__title-head {
  margin: 0;
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.contacts__items {
  margin-top: 10px;
}

.contacts__item {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.contacts__link {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  line-height: 30px;
  position: relative;
}

.contacts__link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  display: block;
  bottom: -3px;
  left: 0;
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
}

.contacts__link:hover::after {
  width: 100%;
}

.map {
  width: 100%;
  height: auto;
  margin-top: -35px;
}

.map__box {
  width: 100%;
  height: 337px;
  border: 0;
}

.footer {
  width: 100%;
  height: auto;
  text-align: center;
  background-image: url(./bg/pattern.png);
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  background-color: #01983b;
}

.footer__box {
  width: 100%;
  height: auto;
  background-image: url(./bg/footerbg/sss.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding-top: 70px;
}

.footer__logo {
  max-width: 500px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.footer__inner-logo {
  font-family: 'EuropeExt', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}

.footer__inner-img {
  position: relative;
  color: #ffffff;
}

.footer__inner-img::after {
  content: '';
  position: absolute;
  display: block;
  width: 47px;
  height: 39px;
  background-image: url(./bg/footerbg/footerbg.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  top: -40px;
  left: calc(50% - 24px);
}

.footer__inner-img:hover {
  opacity: .8;
}

.footer__copyright {
  margin: 0;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.footer__links {
  width: 100%;
  height: auto;
}

.footer__link {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  margin: 5px 0 5px 0;
}

.footer__link-icon {
  color: #01983b;
  display: inline-block;
  vertical-align: top;
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.footer__link-icon:hover {
  opacity: .8;
}

.footer__link-icon:nth-child(odd) {
  margin-left: 10px;
}

.footer__dev {
  padding: 80px 0 20px 0;
}

.footer__dev-link {
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.footer__dev-link:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #2c2783;
  display: block;
  bottom: -3px;
  left: 0;
  -webkit-transition: width 300ms;
  -o-transition: width 300ms;
  transition: width 300ms;
  background-color: #ffffff;
}

.footer__dev-link:hover:after {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */