@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/subset-EuropeExt.woff2") format("woff2"), url("../fonts/subset-EuropeExt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/subset-EuropeExtBold.woff2") format("woff2"), url("../fonts/subset-EuropeExtBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial;
  font-weight: normal;
  background-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
  vertical-align: middle;
}

.container {
  max-width: 1255px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__box, .block__logo, .carousel {
  max-width: 1010px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.is-active {
  position: relative;
}

.is-active::before {
  content: '';
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f2f5f7;
}

.is-active::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f2f5f7;
}

.header {
  background-image: url(./bg/pattern.png);
  background-size: auto;
  background-repeat: repeat;
  background-position: center;
  background-color: #01983b;
}

.header__nav {
  line-height: 76px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__item a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
}

.header__item a::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #f2f5f7;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.header__item a:hover::after {
  width: 100%;
}

.block__slide {
  background-image: url(./bg/bg_box_slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 35px;
  padding-bottom: 88px;
}

.block__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 20px;
}

.block__left {
  width: 50%;
  height: auto;
}

.block__img {
  width: 90%;
  height: auto;
}

.block__right {
  width: 50%;
  height: auto;
  text-align: right;
}

.socseti {
  margin-bottom: 10px;
}

.socseti__title {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #01983b;
}

.socseti .linkedin, .socseti .vk {
  color: #fff;
  padding: 6px;
  border-radius: 50%;
  background-color: #01983b;
  display: inline-block;
  vertical-align: middle;
  line-height: 12px;
  margin-left: 5px;
}

.socseti .linkedin:hover, .socseti .vk:hover {
  color: #fff;
  background-color: #2c2783;
}

.phone {
  text-align: left;
  padding-left: 75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.phone a {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #2c2783;
  position: relative;
}

.phone a:active {
  color: black;
}

.phone a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #2c2783;
  display: block;
  bottom: -3px;
  left: 0;
  -webkit-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.phone a:hover:after {
  width: 100%;
}

.search__item {
  border: none;
  border-bottom: 1px solid #bfbdd9;
  background-color: transparent;
  width: 78%;
  outline: none;
  padding: 5px 0;
  padding-left: 10px;
}

.search__item:focus {
  border-bottom: 1px solid #01983b;
}

.search__icon {
  color: #2c2783;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding-top: 20px;
}

.fa-search-plus {
  font-size: 20px;
}

.carousel__img {
  position: relative;
  width: 100%;
  max-height: 493px;
}

.carousel__img::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  max-height: 88px;
  height: 100%;
  background-image: url(./bg/bg_slider.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  bottom: -88px;
}

.carousel__item {
  width: 100%;
  height: auto;
}

.carousel__desk {
  position: absolute;
  bottom: 35px;
  left: 0;
  padding: 35px 25px 10px 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.36);
}

.carousel__desk p {
  font-family: 'EuropeExt';
  font-weight: 400;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
}

.carousel__desk .newenergi {
  font-family: 'EuropeExt';
  font-weight: 700;
  margin-top: 10px;
}

/*# sourceMappingURL=style.css.map */