.header
  background-image: url(./bg/pattern.png)
  background-size: auto
  background-repeat: repeat
  background-position: center
  background-color: #01983b

  &__nav
    line-height: 76px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    list-style-type: none
    margin: 0
    padding: 0

  &__item
    display: inline-block
    vertical-align: middle

  &__link
    font-family: Arial, Helvetica, sans-serif
    font-weight: 400
    color: #fff
    text-transform: uppercase
    font-size: 16px
    position: relative

    &::after
      content: ''
      position: absolute
      bottom: -7px
      left: 0
      width: 0
      height: 2px
      background-color: #f2f5f7
      transition: width 300ms

    &:hover
      &::after
        width: 100%
